@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: url("https://img.freepik.com/free-photo/closeup-shot-wet-glass-reflecting-rainy-forest-scenery_181624-23365.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  color: white;
  font-size: 4.5rem;
  text-align: center;
  margin-bottom: 20px;
}

input {
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  font-size: 1.2rem;
  width: 300px;
  max-width: 90%;
  margin-right: 16px;
}

button {
  margin-left: 16px;
  padding: 12px 20px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 500ms;
  max-width: 200px;
}

.inputContainer{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px){
  .inputContainer{
    flex-direction: row;
  }
}


.weather-details {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: start;
  margin-top: 30px;
  width: 100%;
  max-width: 1200px;
  text-align: left;
}

.weather-card {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  animation: scaleup 500ms ease-in-out;
  transform-origin: center;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  color: white;
  font-size: 1.3rem;
}

@keyframes scaleup {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

.weather-card:nth-child(3) img {
  width: 80px;
  height: 80px;
}

.weather-icon {
  width: 80px;
  height: 80px;
}

@media (min-width: 1024px) {
  .weather-details {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  h1 {
    font-size: 5rem;
  }
  .weather-card {
    padding: 40px;
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
  
  input {
    width: 100%;
    font-size: 1rem;
  }
  
  button {
    font-size: 1rem;
    max-width: 150px;
  }
  
  .weather-details {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  
  .weather-card {
    padding: 20px;
    font-size: 1.1rem;
  }
  
  .weather-icon {
    width: 60px;
    height: 60px;
  }
}

::-webkit-scrollbar {
  display: none;
}
